body
{
  background: rgb(175, 171, 171);
}
.block
{
  margin: 0 auto;
  max-width: 900px;
  padding: 50px 30px;   
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(78, 77, 77);
}
.input-res
{
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 500px;
  background-color: #ddd;
  border: 10px;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-sizing: border-box; 
}

.button {
    background-color: #161816; /* Green */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .align{
      text-align: center;
  }

  #text{
      font-size:50px;
      text-align: center;
      padding: 30px;
      
  }

  .heading{
      text-align: center;
      padding: 30px auto;
  }